* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif;
}
header {
  background-image: url(../resources/graphics/svg/blob.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 80vh;
  margin: 30px 0;
}
nav {
  display: flex;
  margin: 0 150px;
}
.logo {
  width: 20%;
  color: #7563e0;
}

.links {
  width: 80%;
  text-align: right;
}

.links__sub {
  text-decoration: none;
  margin: 0 5px;
}
.firstName {
  margin: 10px 0;
}
.firstName h1 {
  font-size: 5em;
  font-weight: 800;
}
.nav {
  margin: 0 150px;
  display: flex;
}
.nav__left {
  width: 60%;
}
.nav__right {
  width: 40%;
}
.image {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 10px solid #7563e0;
}
.image__one {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 10px solid white;
}
.clickable {
  margin: 10px 0;
}

.clickable button {
  background: none;
  border: 2px solid #625c7e;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 20px 30px;
  cursor: pointer;
  box-shadow: 0.3em 0.3em 0 0 #7563e0, inset 0.3em 0.3em 0 0 #7563e0;
  transition: all 0.3s ease-in-out;
}
.clickable button:hover {
  box-shadow: none;
}

.Main__Section--one {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}
.Main__Section--one img {
  height: 80px;
  margin: 0 10px;
}
.Main__Section--two {
  margin: 100px 150px;
  display: flex;
  flex-wrap: wrap;
  height: 40vh;
}
.left-part {
  width: 20%;
}
.left-part h1 {
  font-size: 5rem;
  color: #7563e0;
}
.right-part {
  width: 80%;
}
.right-part__top {
  color: #7563e0;
}
.right-part__bottom {
  display: flex;
  justify-content: center;
  height: 30vh;
  color: #7563e0;
}
.right-part__top p {
  font-size: 2rem;
  margin-bottom: 30px;
}
.card {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 10px;
  height: 250px;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0px 0px 12px -5px rgb(0 0 0 / 18%);
  background-color: white;
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
}
.card:hover {
  background-color: #7563e0;
  color: white;
  position: relative;
  bottom: 10px;
}
/*
.card div i {
  font-size: 30px;
}
.card div {
  padding: 130px 50px 5px 50px;
}
.card div:hover {
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
.card div h3 {
  margin-top: 20px;
}

*/
.rev p {
  margin-top: 10px;
  color: white;
}
.rev i {
  font-size: 30px;
  margin: 10px 0;
}
.explore {
  margin: 100px 150px;
  display: flex;
  height: 20vh;
}
.explore__left {
  width: 60%;
  font-size: 23px;
  color: #7563e0;
}
.explore__right {
  width: 40%;
}

.explore__right a {
  color: #7563e0;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.web {
  display: flex;
  justify-content: space-between;
  margin: 100px 150px;
}

.website {
  margin: 10px;
  height: 300px;
  width: 30%;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 0px 23px -5px rgb(0 0 0 / 18%);
}
.website img {
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  transition: ease-in-out 3s;
}

.website img:hover {
  transform: translateY(calc(-65%));
}

.story {
  display: flex;
  margin: 100px 150px;
}
.story__left {
  width: 50%;
}
.story__left img {
  height: 400px;
  margin-left: 70px;
  border-radius: 12px;
}
.story__right {
  width: 50%;
}
.story__right h1 {
  margin: 30px 0;
  color: #7563e0;
  font-size: 40px;
}
.tab {
  display: flex;
  justify-content: space-between;
  margin: 100px 150px;
}
.tabs {
  margin: 10px;
  height: 300px;
  width: 30%;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 0px 23px -5px rgb(0 0 0 / 18%);
}
footer {
  height: 80vh;
  background-color: white;
  padding: 40px;
}
.google {
  text-align: center;
}
.google img {
  margin: 10px;
  height: 50px;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tabs {
  box-shadow: 0px 0px 23px -5px rgb(0 0 0 / 18%);
  padding: 20px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  background-color: #fff;
  margin-bottom: 20px;
  width: 31%;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  height: 320px;
}
.tabs:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.tabs img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid darkorchid;
}

.tabs .little-img i {
  color: rgba(204, 204, 204, 0.377);
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 60px;
  transition: all 0.3s ease-in-out;
}

.tabs:hover .little-img i {
  color: #7562e0;
}
.tabs span {
  line-height: 60px;
  font-size: 17px;
  color: grey;
}
.description {
  font-size: 17px;
  margin: 20px 0;
  color: #7563e0;
}
.footer {
  display: flex;
}
.footer-left {
  margin: 0 50px;
  width: 40%;
}
.footer-right {
  width: 60%;
  padding-right: 200px;
}
.footer-left h1 {
  padding: 30px 0;
}
.footer-left a {
  color: #7562e0;
}
.social i {
  padding: 30px 20px;
  font-size: 30px;
}
.footer-right input {
  padding: 25px 20px;
  width: 100%;
  background-color: #7562e010;
  border-radius: 5px;
  margin-bottom: 20px;
  border: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.footer-foot {
  padding: 10px;
  background-color: black;
  text-align: center;
  color: white;
}

.footer-right h1 {
  padding: 30px 0;
}

.footer-right button{
  background: none;
  border: 2px solid #625c7e;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 20px 30px;
  cursor: pointer;
  box-shadow: 0.3em 0.3em 0 0 #7563e0, inset 0.3em 0.3em 0 0 #7563e0;
  transition: all 0.3s ease-in-out;
}
.footer-right button:hover{
  box-shadow:none;
}